<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>addToCameraRoll</string>
			<key>Title</key>
			<string>Auto-Save to Camera Roll</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
        <dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>enableEditMode</string>
			<key>Title</key>
			<string>Enable Edit Mode</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
